body {
	margin-top: 2%;
}

p {
	text-align: center;
	font-size: 2rem;
}

button {
	font-size: 1.2rem;
	margin: 0 30px;
	padding: 5px 8px;
}

.container {
	align-content: center;
}

.info-tbl {
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 60px;
}

.info-tbl th, td{
	text-align: center;
	font-size: 1.3rem;
	border: 1px solid black;
	padding: 10px 10px;
}

.btns, .save-btn {
	display: flex;
	justify-content: center;
}

.btns-columns {
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 40px;
}

.btns-columns button {
	width: 10%;
}

.save_btn {
	margin-bottom: 15px;
}

.info_btn {
	margin-bottom: 30px;
}